@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.products{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 2.2rem;
    color: rgb(12, 12, 12, 0.8);
    font-weight: 600;
}
.products p{
    padding-top: 1rem;
    font-size: 16px;
    color: rgb(12, 12, 12, 0.7);
    line-height: 28px;
}

.my-btn {
    border: .15rem solid #0073ff;
    padding: .40rem 2rem;
    background: #fff;
    color: black;
    font-size: 1.2rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: inline-block;
    border-radius: .25rem;
}

.my-btn::before {
    content: "";
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: 0.3s linear;

}

.my-btn:hover {
    color: white;
}

.my-btn:hover::before {
    content: "";
    left: 0;
    width: 100%;
    color: white;

}