@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.websiteName{
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    padding-right: 20px;
}
.link{
    text-decoration: none;
    margin-left: 2rem;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    color: black; 
    border-bottom: 2px solid rgb(131, 139, 229); 
    padding-top: 5px;
}

.link.active{
    border-bottom: 2px solid rgb(30, 47, 241); 
    color: blue;
}